<b><%=  stylesheet_link_tag  'estilo' %></b>
<h1>N o v o  &nbsp; c o n t a t o</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Nome' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label 'Descrição'%><br />
    <%= f.text_area :body ,:cols => "24", :rows => "3"%>
  </p>
  

  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>